<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="member" class="com.ohgiraffers.common.MemberDTO">
    <constructor-arg index="0" value="1"/>
    <constructor-arg index="1" value="스프링꿈나무"/>
</bean>
    <bean id="board" class="com.ohgiraffers.common.BoardDTO">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="의존성 주입"/>
        <constructor-arg index="2" value="객체를 주입"/>
        <constructor-arg index="3" ref="member"/>
</bean>
</beans>